@use "sass:map";

/** Config */
@import "../../config/variables";
@import "../../config/mixins/breakpoints";
@import "../../config/mixins/list";

// -- Single --

.d-grid {
	display: grid !important;
}

/* General */
/* stylelint-disable */
.single {

	.wrapper_box .content_box .content {

		@include list-default-styles();

		.flag-dropdown {

			@include remove-list-styles();

		}
	}
}

.page main {
	@include list-default-styles();

	.flag-dropdown {

		@include remove-list-styles();

	}
}

.single-post,
.single-doc_con,
.single-ap-expert,
.single-story,
.single-ap-story {

	.wrapper_box {

		.content_box {
			/* stylelint-enable */
			max-width: 818px;

			.content {

				.wp-block-heading {
					font-size: $h4-font-size;
					line-height: $h4-line-height;
				}

				h2:not(.c-heading),
				h3:not(.c-heading),
				p:not(.p2),
				p:not(.text-m),
				.wp-block-image,
				iframe,
				.wp-block-embed,
				.b-seo-cluster-banner-v2 {
					margin: map.get($spacing, "xl") 0;
				}

				.wp-block-image img {
					max-width: 100%;
					height: auto;
				}

				li {

					&.wprm-recipe-ingredient,
					&.wprm-recipe-instruction {

						&::before {
							content: none;
						}
					}
				}

				p:not(.p2),
				a:not(.p2),
				li:not(.country) {
					font-size: $font-size-l;
					line-height: $line-height-l;
				}

				a:not(.p2, .b-call-to-action-v2 .btn-primary) {
					color: var(--aprende--primary);
				}

				.b-call-to-action-v2 {
					left: 0;

					p {
						margin: 0;
					}

					.btn-primary {

						span {
							font-weight: $font-semi-bold;
							font-size: $font-size-m;
							line-height: $line-height-m;
						}
					}

					&.l-subtitle {

						.btn-primary {

							span {
								color: $white;
							}
						}
					}

				}

			}

			.info {
				border-bottom: 1px solid var(--aprende--secondary-200);

				.author {

					.position {

						a {
							color: var(--aprende--primary);
							text-decoration: none;
						}
					}
				}

				.social {

					.share {

						&_box {

							.icons {

								.icon {
									display: block;
									flex-grow: 0;
									flex-shrink: 0;
									width: 30px;
									height: 30px;
									background: 50% 50% no-repeat;
									background-size: contain;
									transition: 0.3s;
									cursor: pointer;
									border: none;

									&_whatsapp {
										background-image: url(../../images/share_whatsapp.svg);
									}

									&_twitter {
										background-image: url(../../images/share_twitter.svg);
									}

									&_facebook {
										background-image: url(../../images/share_facebook.svg);
									}

									&_pinterest {
										background-image: url(../../images/share_pinterest.svg);
									}

									&:hover,
									&:focus {
										opacity: 0.8;
									}

								}
							}
						}
					}
				}
			}
		}
	}

	@include breakpoint(md) {

		/* stylelint-disable */
		.wrapper_box {

			.content_box {
				max-width: 818px;
				margin: 0 auto;
				/* stylelint-enable */

				.content {

					.wp-block-image {

						figure {
							width: 100%;

							img {
								width: 100%;
								height: auto;
							}
						}
					}
				}
			}
		}
	}

	@include breakpoint(max-md) {

		.b-posts-grid-v2 {

			/* stylelint-disable */
			.c-posts-grid_grid {
				/* stylelint-enable */

				.c-post-card {

					.c-card {
						display: flex;
						flex-direction: row-reverse;
						box-shadow: none;
						padding-top: 15px;
						padding-bottom: 14px;
						border-radius: 0;
						gap: 16px;
						border-bottom: 1px solid var(--aprende--secondary-200);

						.c-image {
							padding: 0;
							max-height: 70px;
							width: 70px;
						}

						&_wrapper {
							flex: 0 0 75%;
							max-width: calc(75% - 4px);
							padding: 0;
						}

						&_content {

							&_meta {

								> span {
									display: none;
								}

								.time {
									gap: map.get($spacing, "2xs");

									.hidden {
										display: inline-block;
									}

									&::before {
										content: "";
										display: inline-block;
										width: map.get($spacing, "m");
										height: map.get($spacing, "m");
										background: 50% 50% no-repeat;
										background-size: contain;
										background-image: url(../../images/clock.svg);
									}
								}

								.author {
									display: none !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Docente and story */
/* stylelint-disable */
.single-doc_con,
.single-ap-expert,
.single-story,
.single-ap-story {

	.wrapper_box .content_box {
		/* stylelint-enable */

		.c-breadcrumbs {
			margin-bottom: 0;
		}

		.content {

			.author {

				.hero {

					.c-image img {
						border-radius: map.get($border-radius, "s");
					}
				}
			}

			iframe,
			.wp-block-embed {
				width: 100%;
				height: 184px;
			}

			blockquote p {
				position: relative;
				quotes: "“" "”";
				padding: 0 15px;
				font-style: italic;
				line-height: 1.5;
				font-size: 18px;
			}
		}
	}

	@include breakpoint(md) {

		/* stylelint-disable */
		.wrapper_box .content_box .content {
			/* stylelint-enable */

			.author {

				.hero {

					> picture {
						max-width: 186px;
						padding-bottom: 0;

						> img {
							width: auto;
							max-height: 186px;
						}
					}

				}

				.content {

					h1 {
						margin-bottom: 0;
					}
				}
			}

			iframe,
			.wp-block-embed {
				min-height: 460px;
			}
		}
	}
}

