.b-diploma-v2 {
  overflow: hidden;
  padding: 45px 0;
}
.b-diploma-v2_diploma {
  display: flex;
  justify-content: center;
}
.b-diploma-v2_diploma .c-image {
  height: 343px;
  min-width: 232px;
  padding: 0;
  width: 232px;
}
.b-diploma-v2_content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
}
.b-diploma-v2_text {
  padding: 0 24px;
}
.b-diploma-v2_text .c-heading {
  margin-bottom: 15px;
  margin-top: 30px;
}
@media (min-width: 600px) {
  .b-diploma-v2 {
    display: flex;
    min-height: 768px;
    overflow: hidden;
    padding: 0;
  }
  .b-diploma-v2 .row {
    position: relative;
  }
  .b-diploma-v2_diploma {
    align-items: center;
    display: flex;
    margin-left: 37.5%;
    z-index: 1;
  }
  .b-diploma-v2_background {
    left: 0;
    padding-right: 0;
    position: absolute;
    top: 0;
  }
  .b-diploma-v2_background .c-image {
    height: 768px;
    padding: 0;
  }
  .b-diploma-v2_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    padding-right: 24px;
  }
  .b-diploma-v2_text .c-heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
  }
}
@media (min-width: 1366px) {
  .b-diploma-v2 .row {
    width: calc(100% + 24px);
  }
  .b-diploma-v2_diploma {
    margin-left: 41.6666666667%;
    padding: 0;
  }
  .b-diploma-v2_text {
    margin-left: 0;
    max-width: calc(33.33333% - 65px);
    padding-left: 30px;
    padding-right: 0;
  }
  .b-diploma-v2_text .c-heading {
    margin-bottom: 15px;
  }
}
