// -- Completed component --

.c-completed {
	display: flex;
	align-items: center;
	gap: 9px;
	font-size: 16px;
	line-height: 22px;

	.c-icon {
		padding: 2px;
		border-radius: 50%;
		background-color: var(--aprende--secondary-400);

		img {
			filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(133deg) brightness(102%) contrast(105%);
		}
	}

	&__completed {

		.c-icon {
			background-color: var(--aprende--primary);
		}
	}

	&__s {
		font-size: 12px;
		line-height: 15px;
	}
}
