/** Config */
@use "sass:map";
@import "../config/variables";
@import "../config/mixins/breakpoints";
@import "../config/mixins/list";

.b-accordion-v2 {
    padding: map.get($spacing, "2xl") 0;

    /* stylelint-disable */
    .c-accordion_button_label {
        text-align: start;
    }

    &_subtitle p {
        font-size: inherit;
    }

    .c-accordion {
        &_content {
            @include list-default-styles();

            font-size: $font-size-m;
            line-height: $line-height-m;
        }
    }

    @include breakpoint(md) {
        padding: map.get($spacing, "3xl") 0;
    }

    // Layout: Default
    &.l-default {

		.b-accordion-v2 {

			&_container {
				max-width: 808px;
				margin: 0 auto;
			}
		}

        .c-accordion {
            
            &_item {
                border: 1px solid #D6DEE3;
                border-radius: map.get($spacing, "xs");
            }
        }

		@include breakpoint(md) {
			.c-button {
				padding: map.get($spacing, "s") map.get($spacing, "l");
			}
		}
	}
}
