/** Config */
@use "sass:map";
@import "../config/variables";
@import "../config/mixins/breakpoints";
@import "../config/mixins/background-overlay";
@import "../config/mixins/list";

.b-hero-v2 {
    background-color: var(--aprende--secondary-700);
    overflow: hidden;
    position: relative;

    /* stylelint-disable */
    .content_subtitle {
        /* stylelint-enable */

        p {

            a {

                font-size: $font-size-l-desktop;
            }
        }
    }

    @include breakpoint(max-md) {

        .content {

            &_subtitle,
            &_value-proposition {

                p {

                    font-size: $font-size-l;
                }
            }

            .c-heading {

                font-size: $h1-font-size;
                line-height: $h1-line-height;
            }
        }

        &:not(.disable-gradient-mobile) {

            .b-hero-v2 {

                &_block-background {

                    /* stylelint-disable */
                    &:not(.medium_gradient) {

                        &::before {

                            @include background-overlay(rgba(0, 0, 0, 0), var(--aprende--secondary-700));
                        }
                    }
                    /* stylelint-enable */

                    &.medium {

                        &_gradient {

                            &::before {
                                content: "";
                                position: absolute;
                                display: block;
                                width: 100%;
                                right: 0;
                                bottom: -1px;
                                z-index: 1;
                                height: 30%;
                                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10% 10%, var(--aprende--secondary-700) 100% 100%);
                            }
                        }
                    }
                }
            }
        }

        &_block-background {
            position: relative;

            .image {

                &-mobile,
                &-desktop {

                    img {
                        min-height: 270px;
                    }
                }
            }
        }

        &_block-foreground {

            &_l-standard,
            &_l-hidden-form {
                position: relative;
            }
        }

        &.has-bg-image-mobile {

            .image-desktop {
                display: none;
            }
        }

        &_l-standard {

            .content {

                &__statistics-box {

                    .content {

                        &_subtitle {
                            margin: map.get($spacing, "s") map.get($spacing, "0") map.get($spacing, "xl") map.get($spacing, "0");
                        }
                    }
                }
            }

            // Minimal version styles:
            .hidden-mobile {
                display: none;
            }

            .minimal-view {

                .r-form {

                    &__vertical {

                        .r-form-heading {
                            display: none;
                        }
                    }
                }
            }
        }

        &_l-hidden-form {

            .c-button {
                max-width: 100%;
                width: 100%;
            }

            &:not(.has-text) {
                padding-bottom: map.get($spacing, "3xl");
            }

            .content {

                .c-heading {
                    margin: map.get($spacing, "0") map.get($spacing, "0") map.get($spacing, "xl") map.get($spacing, "0");
                }

                &_subtitle,
                &_value-proposition {
                    margin: - map.get($spacing, "m") map.get($spacing, "0") map.get($spacing, "xl") map.get($spacing, "0");
                }
            }
        }

        &.l-steps {

            .content {
                padding-left: 0;
                padding-right: 0;
            }

            .b-hero-v2 {

                &_container {
                    height: 762px;
                }
            }

            .bg {

                &_bottom {
                    min-height: 186px;
                    width: 100%;
                }
            }
        }
    }

    @include breakpoint(md) {

        .hidden-button {
            margin-bottom: map.get($spacing, "0");
        }

        .content {

            &_subtitle,
            &_value-proposition {

                p {

                    font-size: $h4-font-size;
                }
            }

            .c-heading {

                font-size: $h1-font-size-desktop;
                line-height: $h1-line-height-desktop;
            }
        }

        &_container {
            max-width: 1366px;
            min-height: 585px;
            margin: map.get($spacing, 0) auto;
            display: flex;
            align-items: center;
            padding: map.get($spacing, "2xl") map.get($spacing, "3xl");
        }

        &:not(.disable-gradient-desktop) {

            .b-hero-v2 {

                &_block-background {

                    /* stylelint-disable */
                    &:not(.medium_gradient) {

                        &::before {

                            @include background-overlay(rgba(0, 0, 0, 0), var(--aprende--secondary-700));
                        }
                    }
                    /* stylelint-enable */

                    &.medium {

                        &_gradient {

                            &::before {
                                content: "";
                                position: absolute;
                                display: block;
                                width: 100%;
                                right: 0;
                                bottom: -1px;
                                z-index: 1;
                                height: 50%;
                                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 1% 10%, var(--aprende--secondary-700) 65% 100%);
                            }
                        }
                    }
                }
            }
        }

        &_block-background {
            padding-bottom: map.get($spacing, "0");
            position: absolute;
            height: 100%;
            width: 100%;
            left: map.get($spacing, "0");
            top: map.get($spacing, "0");
        }

        &_block-foreground {

            min-height: 465px;

            &.b-hero-v2 {

                &_l-steps {
                    min-height: auto;
                }
            }

            .b-hero-form {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }

        &.has-bg-image-mobile {

            .image-mobile {
                display: none;
            }

            .image-desktop {
                display: block !important;
            }
        }


        &_l-standard {

            .b-hero-form {
                padding: map.get($spacing, "0");
            }
        }

        &_l-standard,
        &_l-hidden-form {

            width: 100%;
            display: flex;
            justify-content: space-between;

            .content {
                padding-bottom: map.get($spacing, "0");
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                &_extra {
                    display: flex;
                    flex-direction: column;

                    &_icon {

                        &:first-child {
                            border-right: 1px solid var(--aprende--white);
                        }

                    }

                    &_icons {
                        flex-direction: row;
                        align-items: center;

                        > div:nth-child(2) {
                            border-right: 1px solid var(--aprende--white);
                        }
                    }

                    .btn-lg {
                        order: 2;
                        margin-top: map.get($spacing, "m");
                        margin-bottom: map.get($spacing, "0");
                        width: fit-content;
                        padding: map.get($spacing, "s") map.get($spacing, "xl");
                    }
                }

                .c-heading {
                    margin: map.get($spacing, "0");
                }

                &_subtitle,
                &_value-proposition {
                    margin: map.get($spacing, "m") map.get($spacing, "0") map.get($spacing, "0") map.get($spacing, "0");
                }

            }

            .minimal-view {

                &_heading {
                    display: none;
                }
            }

        }

        &_l-hidden-form {
            padding: 7px 0;
            padding: map.get($spacing, "xs") map.get($spacing, "0");

            .c-button {
                max-width: fit-content;
            }

            .content {
                text-align: left;
                max-width: 817px;
            }
        }

        &.l-steps {

            .b-hero-v2 {

                &_container {
                    min-height: 720px;
                    height: 100%;
                }
            }

            .bg {

                &_bottom {

                    .content {

                        margin-bottom: map.get($spacing, "2xl");

                        &_steps {
                            flex-direction: row;
                            padding: map.get($spacing, "l");
                            max-width: 1224px;
                            width: 100%;
                            align-items: center;

                            &-items {
                                padding: map.get($spacing, "xs") map.get($spacing, "0");
                            }
                        }
                    }
                }
            }
        }
    }

    &:not(.disable-heading-break-line) {

        .content {

            &__heading {

                .c-heading {
                    white-space: pre-line;
                }
            }
        }
    }

    &_container {
        animation: FadeInSlow 1s ease-in;
    }


    &_block-background {

        .image {

            &-mobile,
            &-desktop {
                height: 100%;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }

        .c-image {
            height: 100%;
        }
    }

    &_block-foreground {
        position: relative;
        height: 100%;
        z-index: 5;
    }


    .content {

        @include list-default-styles();

        .country-name {
            color: var(--aprende--secondary-700);
        }

        &_statistics {
            line-height: $h3-line-height;

            b {
                font-size: $h3-font-size;
                line-height: $line-height-l-desktop;
            }
        }

        .referral-message {
            margin-bottom: map.get($spacing, "m");
            animation: FadeIn 0.4s ease;

            &_text {
                display: inline-block;
                padding: map.get($spacing, "xs") map.get($spacing, "s");
                color: var(--aprende--secondary-700);
                border-radius: map.get($border-radius, "s");
                background-color: var(--aprende--white);
            }
        }

        .c-heading {

            &__red {
                background-color: var(--aprende--primary);
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
                color: var(--aprende--white);
            }

            &__white {
                background-color: var(--aprende--white);
                -webkit-box-decoration-break: clone;
                box-decoration-break: clone;
                color: var(--aprende--secondary-700);
            }
        }

    }

    /** Layout: Standard. */
    &_l-standard,
    &_l-hidden-form {

        .content {

            &_extra {

                .btn-lg {
                    display: flex;
                    justify-content: center;
                    margin-top: map.get($spacing, "l");
                    margin-bottom: map.get($spacing, "xl");
                }

                &_icon {
                    gap: 6px;
                }

                &_icons {

                    img {
                        height: 18px;
                        width: 18px;
                    }
                }

                &_rating {
                    border-right: none;
                }
            }

            .hidden-mobile {
                display: flex;
            }

        }
    }

    .c-modal {

        &_container {
            border-radius: map.get($border-radius, "s");
        }

        &__size-l {

            .r-form {

                &__vertical {
                    margin: map.get($spacing, "0");
                    padding: map.get($spacing, "0");

                    .r-field {

                        &-single,
                        &-multiple {
                            padding: map.get($spacing, "0");
                        }
                    }
                }

                &-terms {

                    p {
                        font-size: $font-size-s;
                        line-height: $line-height-s;
                    }
                }

                &_thank-you-message {
                    min-width: 330px;
                    min-height: 330px;
                }
            }
        }

        &_content {
            max-height: 85vh;
            overflow-y: auto;
        }

    }

    .hidden {
        display: none;
    }

    /** Layout: Steps. */
    &.l-steps {

        a,
        strong {
            font-weight: $font-semi-bold;
        }

        .b-hero-v2 {

            &_block-foreground {
                z-index: 4;
            }

            &_container {
                display: flex;
                flex-direction: column;
                padding: map.get($spacing, "0");
            }
        }

        .bg-white {
            background-color: var(--aprende--white);
        }

        .number {
            font-weight: $font-bold;
            font-size: $font-size-l-desktop;
        }

        .bg {

            &_bottom {
                position: relative;
                min-height: 84px;
                width: 100vw;
                z-index: 4;

                &-content {
                    position: absolute;
                    bottom: map.get($spacing, "xl");
                    max-width: 1366px;
                    z-index: 6;

                    .content {

                        .c-heading {
                            margin-bottom: map.get($spacing, "m");
                        }
                    }
                }

                .content {

                    &_text {
                        font-weight: $font-bold;

                        > p {
                            font-size: $font-size-l-desktop;
                        }
                    }

                    &_steps {
                        font-weight: $font-bold;
                        font-size: $font-size-l-desktop;

                        &-items {

                            @include breakpoint(lg) {
                                min-width: 280px;
                            }
                        }
                    }
                }
            }
        }
    }
}
