@use "sass:map";

/** Config */
@import "../config/variables";
@import "../config/mixins/breakpoints";

$primary-color: #2A2D5A;

.b-benefits-v2 {
	padding: map.get($spacing, "2xl") 0;

	&_container { 
		flex-wrap: wrap;
	}

	.heading-3 {
		color: $primary-color;
	}

	&.l-standard {

		.b-benefits-v2 {

			&_item {

				.c-card {
					height: 100%;
				}
			}

		}
	}

	/** Layout: Blurbs. */
	&.l-blurbs-icon {

		.b-benefits-v2 {

			&_items {

				.c-image {
					width: 102px;
					height: 102px;
				}
			}

			@include breakpoint(max-md) {

				&_content,
				&_items {
					text-align: center;

					.c-image { 
						margin: 0 auto;
					}
				}

			}

			@include breakpoint(md) {

				&_content,
				&_items {
					flex-direction: row;
					justify-content: right;
				}

			}

		}

	}
}
