/** Config */
@import "../config/variables";
@import "../config/mixins/breakpoints";

$primary-color: #1F74AD;

.b-header {

	&_logo {

		img {
			max-width: 200px;
			object-fit: contain;
		}
	}

	.c-button {

		&.btn-primary {
			background-color: $primary-color;

			&-text {
				color: $primary-color;
			}
		}
	}

}
