/** Config */
@use "sass:map";
@import "../config/variables";
@import "../config/mixins/breakpoints";
@import "../config/mixins/list";

.b-accordion-v2 {

    /* stylelint-disable */
    .c-accordion_button_label {
        text-align: start;
    }

    &_subtitle p {
        font-size: inherit;
    }

    // Layout: Default
    &.l-default {

		.b-accordion-v2 {

			&_container {
				max-width: 808px;
			}
		}

        .c-accordion {
            
            &_item {
                border: 1px solid #D6DEE3;
                border-radius: map.get($spacing, "xs");
            }
        }

		@include breakpoint(md) {
			.c-button {
				padding: map.get($spacing, "s") map.get($spacing, "l");
			}
		}
	}
}
