.footer_box {
  background-color: #1b2631;
  color: #fff;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}
.footer_box .row {
  padding: 30px 0;
}
.footer_box .row [class*="col-"] {
  margin-bottom: 30px;
}
.footer_box .row [class*="col-"]:last-child {
  margin-bottom: 0;
}
.footer_box .row [class*="col-"]:last-child ul {
  flex-direction: column;
}
.footer_box .row [class*="col-"] .heading {
  display: block;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.025px;
  line-height: 22px;
  margin-bottom: 12px;
}
.footer_box .row [class*="col-"] ul {
  column-gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 9px;
}
.footer_box .row [class*="col-"] .btn-lg {
  justify-content: center;
  width: 100%;
}
.footer_box .row [class*="col-"] .socials {
  align-items: center;
  display: flex;
  gap: 21px;
  justify-content: center;
  margin-top: 21px;
}
.footer_box .row [class*="col-"] .socials .icon {
  background: 50% 50% no-repeat;
  cursor: pointer;
  display: block;
  height: 24px;
  transition: 0.2s;
  width: 24px;
}
.footer_box .row [class*="col-"] .socials .icon:hover {
  transform: scale(1.1);
}
.footer_box .item li,
.footer_box .item ul {
  display: block;
  line-height: 18px;
  list-style: none;
  margin-block: 0;
  position: relative;
}
.footer_box a {
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}
.footer_box a:hover {
  color: #d7dfe4;
  text-decoration: underline;
}
.footer_box_simple {
  background-color: #1b2631;
  display: flex;
  height: 99px;
  justify-content: center;
  margin: 0 36px;
}
@media (min-width: 600px) {
  .footer_box_simple {
    height: 66px;
    margin: 0 64px;
  }
}
.footer_box_simple_details {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 100%;
}
@media (min-width: 600px) {
  .footer_box_simple_details {
    flex-direction: row;
  }
}
.footer_box_simple_details.no-simple-tyc {
  justify-content: center;
}
.footer_box_simple_details.has-simple-tyc {
  gap: 15px;
  justify-content: center;
}
@media (min-width: 600px) {
  .footer_box_simple_details.has-simple-tyc {
    gap: 0;
    justify-content: space-between;
  }
}
.footer_box_simple_details_copyright {
  display: block;
  text-align: center;
}
.footer_box_details,
.footer_box_simple_details_tyc ul {
  display: flex;
  gap: 21px;
}
.footer_box_details {
  border-top: 1px solid #fff;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 29px 0 30px;
}
.footer_box_details:first-child {
  border-top: none;
}
.footer_box_details_copyright {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
}
.footer_box_details .links {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  width: auto;
}
.footer_box_details .links li {
  display: block;
  margin: 0;
  padding: 0;
}
.footer_box_details__has-apps {
  gap: 21px;
  padding-top: 29px;
}
.footer_box_apps {
  display: flex;
  gap: 30px;
}
.footer_box_app img {
  max-height: 36px;
}
.footer_box_app .sr-text {
  display: none;
}
.footer_box_social {
  column-gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 9px;
}
.footer_box_social_item a {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.footer_box_social_item a .c-icon {
  padding: 2px;
}
@media (max-width: 600px) {
  .footer_box [class*="col-"].hidden_mobile {
    display: none;
  }
}
@media (min-width: 600px) {
  .footer_box .row {
    padding-bottom: 24px;
  }
  .footer_box .row [class*="col-"] {
    margin: 0;
  }
  .footer_box .row [class*="col-"] .heading {
    margin-bottom: 15px;
  }
  .footer_box .row [class*="col-"] ul {
    flex-direction: column;
    row-gap: 6px;
  }
  .footer_box .row [class*="col-"] .logo {
    margin: 0 auto 30px;
  }
  .footer_box .row [class*="col-"] .socials {
    margin-top: 30px;
  }
  .footer_box_details {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 14px 0 15px;
  }
  .footer_box_details_copyright {
    margin: 0;
    text-align: left;
  }
  .footer_box_details .links {
    margin-bottom: 0;
  }
  .footer_box_details__has-apps {
    gap: 21px;
    justify-content: flex-end;
  }
  .footer_box_details_tyc-and-copyright {
    display: flex;
    gap: 21px;
  }
  .footer_box_details_tyc-and-copyright .links {
    gap: 21px;
  }
  .footer_box_social {
    column-gap: 21px;
  }
  .footer_box_social_item {
    min-width: 85px;
  }
  .footer_box_apps {
    gap: 20px;
    padding: 0;
  }
}
@media (min-width: 1366px) {
  .footer_box_details {
    flex-direction: row;
  }
  .footer_box_apps,
  .footer_box_social {
    margin-right: auto;
  }
}
