.c-image {
  display: flex;
}
.c-image:not(.image-mask) img,
.c-image:not(.image-mask) svg {
  height: auto;
  width: 100%;
}
.c-image__has-placeholder {
  position: relative;
}
.c-image__has-placeholder .c-image-placeholder {
  background: linear-gradient(
    180deg,
    rgba(27, 38, 49, 0) 57.81%,
    rgba(27, 38, 49, 0.7)
  );
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.c-image__has-placeholder .c-image-placeholder .c-label {
  position: absolute;
}
.c-image__has-placeholder .c-image-placeholder .c-label.label-top {
  left: 15px;
  top: 12px;
}
.c-image__has-placeholder .c-image-placeholder .c-label.label-bottom {
  bottom: 14.5px;
  left: 14.5px;
}
.c-image__has-placeholder .c-image-placeholder-content {
  bottom: 14.5px;
  color: #fff;
  left: 14.5px;
  position: absolute;
}
.c-image__has-placeholder .c-image-placeholder__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.c-image__has-placeholder .c-image-placeholder__subject {
  font-size: 12px;
  line-height: 15px;
  margin-top: 6px;
}
.image-mask {
  display: block;
  height: auto;
  overflow: hidden;
  padding-bottom: var(--aspect-ratio, 100%);
  position: relative;
  width: 100%;
}
.image-mask iframe,
.image-mask img,
.image-mask svg {
  height: 100%;
  left: 0;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.progressive-image {
  height: 100%;
  overflow: hidden;
}
.progressive-image_picture {
  position: absolute;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}
